body{
	font-family:sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	
}
html{
	background-color:#f0f0f0;
}
h1{
	text-align:center;
	padding-top:20px;
	text-transform:uppercase;
	font-family:sans-serif;
	
}



img{
	width:10%;
	position: center;
}

.banner {
	
	background-color: #60bae0;
	color: white; 
	padding: 10px 20px;
	
}

.menu{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	display:inline;
	float:right;
	background-repeat: yes;
}

.items{
	float:left;
	margin-right:8px;
	padding-top:30px;
	text-align: center;
	
}


.Mrs:link, a:visited {
	display: block;
	width: 120px;
	font-weight:bold;
	color: white;
	background-color: #60bae0;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
.Mrs:hover, a:active {
	color: #ff5c5c;
	
}
.headline{
	background-image: url(jbrg.jpg);
	
	
}
.rightcolumn{
		background-image: url (car.jpg);
		float:left;
}

.leftcolumn{
	
	float:right;
}
	

.thirdcolumn{
	margin-bottom: 10px;
	
}

.pub1{
	background-image:url(car2.jpg);
	text-align: center;
	padding-right:35px;
    
}
.pub2{
	background-image:url(car.jpg);
	text-align: center;
}
.pub3{
	background-image:url(promo.jpg);
	text-align: center;
	background-repeat: no-repeat;
	
}

footer{
	text-align:center;
	font-size: 0.85em;
	
	background-color: #60bae0;
	color: white;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.arc{
	text-align:center;
	font-size: 1.5em;
	margin:20px;
	padding:20px;
	display:inline;
}

.arc{
	text-align:center;
	font-size: 1.5em;
	margin:20px;
	padding:20px;
}
.arc{
	text-align:center;
	font-size: 1.5em;
	margin:20px;
	padding:20px;
}
article{
	text-align:center;
	font-size: 1em;
	margin:0px;
	padding:0px;
}

.arc:link, a:visited {
	display: inline;
	width: 100px;
	font-weight:bold;
	color: white;
	background-color: transparent;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
.arc:hover, a:active {
	color: #ff5c5c;
	
}




.call{
	text-align:left;
	font-size: 1.5em;
	margin:0px;
	padding:0px;
}



